---
// Barra de navegación principal
---

<nav>
  <a class="nav-logo" href="#">Erica Morello</a>
  <ul class="nav-links">
    <li><a href="#bio">Bio</a></li>
    <li><a href="#musica">Música</a></li>
    <li><a href="#videos">Videos</a></li>
    <li><a href="#shows">Shows</a></li>
    <li><a href="#marcalolo">MARCALOLO</a></li>
    <li><a href="#contacto">Contacto</a></li>
  </ul>
  <a class="nav-cta" href="/docs/epk-erica-morelo.pdf" download>Descargar EPK</a>
</nav>
